<div class="flex flex-col items-center justify-center bg-[#E1E1E1] flex-grow">
  <h1 class="text-3xl mb-4">Seu Carrinho</h1>

  <% if @cart_items.empty? %>
    <p>Seu carrinho está vazio!</p>
  <% else %>
    <ul>
      <% @cart_items.each do |item| %>
        <li class="flex justify-between w-full max-w-4xl p-4 border-b">
          <div>
            <strong><%= item.product.name %></strong>
            (<%= item.quantity %>)
          </div>
          <div>
            R$: <%= item.product.price * item.quantity %>
          </div>
        </li>
      <% end %>
    </ul>

    <div class="mt-6">
      Total: R$: <%= @cart_items.sum { |item| item.product.price * item.quantity } %>
    </div>
  <% end %>
</div>
