<footer class="bg-[#717172] text-white p-6">
  <div class="container mx-auto flex flex-col md:flex-row justify-between items-center relative">

    <!-- Texto -->
    <p class="text-center md:text-lg text-sm flex flex-grow justify-center items-center mb-4 md:mb-0">
      Direitos reservados &copy; 2023. Cristiano Pereira da Silva.
    </p>

    <!-- Ãcones -->
    <div class="flex gap-4">
      <img src="/icons/github.svg" alt="Github" class="h-8 cursor-pointer">
      <img src="/icons/linkedin.svg" alt="Linkedin" class="h-8 cursor-pointer">
      <img src="/icons/homepage.svg" alt="Homepage" class="h-8 cursor-pointer" >
    </div>
  </div>
</footer>
