<header class="bg-[#717172] text-white p-6">
  <div class="container mx-auto">
    <div class="flex flex-row items-center justify-between">
      <!-- Logo -->
      <div class="cursor-pointer">
        <img src="/icons/logoHeader.svg" alt="Logo" class="h-12">
      </div>

      <!-- Search Bar -->
      <div>
<input type="text" placeholder="Pesquisar..." class="w-96 p-2 rounded-md placeholder:text-black">
      </div>

      <!-- User Info and Cart -->
      <div class="flex items-center">
        <!-- Bem Vindo, Cristiano -->
        <div class="text-white text-sm mr-4">
          Bem Vindo, Cristiano
        </div>

        <!-- Avatar -->
        <div class="mr-4 cursor-pointer">
          <img src="https://github.com/cristianoprogramador.png" alt="Avatar" class="w-14 h-14 rounded-full">
        </div>

        <!-- Shopping Cart SVG -->
        <div class="cursor-pointer">
          <img src="/icons/cart.svg" alt="Logo" class="h-8">
        </div>
      </div>
    </div>
  </div>
</header>
